.process {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    counter-reset: custom-counter;
    list-style: none;
  }

  &__item {
    counter-increment: custom-counter;
  }

  &__accordion {
    --indicatorVerticalRotate: 90deg;

    padding: 40px 60px;
    border-color: var(--color-gray);
    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition-duration: var(--transition-duration);

    @include hover {
      background-color: var(--color-accent);
    }

    &[open] {
      --indicatorVerticalRotate: 0;

      background-color: var(--color-accent);
      transition-duration: var(--transition-duration);
    }

    @include mobile {
      padding: 30px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;
    }

    &-title {
      display: inline-flex;
      align-items: center;
      column-gap: 19.5px;
      user-select: none;

      &::before {
        content: "0" counter(custom-counter);
        font-size: 2em;
      }

      @include mobile {
        font-size: 16px;
      }
    }

    &-indicator {
      @include flex-center;
      @include square(58px);

      position: relative;
      background-color: var(--color-gray);
      border: var(--border);
      border-radius: 50%;
      flex-shrink: 0;

      &::before,
      &::after {
        @include abc-center;

        content: "";
        width: 40%;
        height: 10%;
        background-color: var(--color-dark);
      }

      &::after {
        rotate: var(--indicatorVerticalRotate);
      }

      @include mobile {
        @include square(30px);
      }
    }

    &-description {
      padding-top: 30px;
      margin-top: 30px;
      border-top: var(--border);

      @include mobile {
        padding-top: 10px;
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }
}
